<% include ../partials/header %>
<div class="container">
    <div class="show callout">
        <div class="show__individual-post">
            <h4 class="show__title"><%= post.title %></h4>
            <p><em>Created by <%= post.author.username %></em></p>
            <img class ="show__image"src="<%= post.image %>">
            <% if (currentUser && post.author.id.equals(currentUser._id)) { %>
                <div class="small button-group text-center">
                    <a href="/posts/<%=post._id%>/edit"><button class="button">Edit</button></a>
                    <form action='/posts/<%= post._id %>?_method=DELETE' method="POST">
                        <button class="button alert">Delete</button>
                    </form>
                </div>
            <% } %>
            <p class="show__text"> <%= post.text %></p>    
            
            
            <!--<a class="button" href="#">Read On</a>-->
        </div>
        
        <div class="comments">
            <h3>Comments</h3>
            <a href="/posts/<%= post._id %>/comments/new" class="button">New</a>
            <% post.comments.forEach(function(comment){ %>
                <p><%= comment.author.username %> - <%= comment.text %></p>
                <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class="button-group">
                        <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit" class="button hollow small">Edit</a>
                        <form action="/posts/<%= post._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <button class="alert button hollow">Delete</button>
                        </form>                           
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>
</div>